*{
    font-family: "Dancing Script", serif;
    font-size: 1.5rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#menu{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#menu div{
    text-align: center;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

#menu div h1{
    color: white;
    font-size: 4rem;
}

#menu div h2{
    font-family: "Roboto", serif;
    font-size: 0.75rem;
    font-weight: 200;
    color: white;
}

#start{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#art{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    transform: translateY(30%);
    /* Apply transparency to the top and right side */
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), 40%, rgba(0, 0, 0, 0));
    -webkit-mask-composite: destination-in;
    
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), 40%, rgba(0, 0, 0, 0));
    mask-composite: intersect;
    z-index: 0;
}

#container{
    border: solid white 1px;
    overflow: hidden;
    position: relative;
}

#main-character{
    aspect-ratio: 1/1;
    position: absolute;
    background-image: url(../assets/hero.gif);
    background-size:cover;
    overflow: visible;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#torch{
    position: absolute;
    aspect-ratio: 1/1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(#ffffff7f, #ffffff00);
    border-radius: 50%;
}

.monster{
    position: absolute;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%); /* Move the origin to the center */
    background-size: cover;
}

#messages{
    text-align: center;
    color: white;
    background-color: black;
    border: solid white 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    z-index: 100;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#button, #start{
    background-color: white;
    color: black;
    padding: 0 1rem;
    font-family: "Roboto", serif;
    font-size: 1rem;
    z-index: 100;
}