body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#container{
    border: solid white 1px;
    overflow: hidden;
    position: relative;
}

#main-character{
    aspect-ratio: 1/1;
    position: absolute;
    background-color: white;
    overflow: visible;
    border-radius: 50%;
    transform: translate(-50%, -50%); /* Move the origin to the center */
}

#torch{
    position: absolute;
    aspect-ratio: 1/1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(#ffffff7f, #ffffff00);
    border-radius: 50%;
}

.monster{
    position: absolute;
    aspect-ratio: 1/1;
    /* border-radius: 50%; */
    transform: translate(-50%, -50%); /* Move the origin to the center */
    background-size: cover;
}

#game-over{
    color: white;
    background-color: black;
    font-size: 10vh;
    border: solid white 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vh;
    z-index: 100;
    display: none;
}